---
name: home
url: /
---

<div class="grid-container">

	<h5 class="video-title">
		<span ng-if="data.video[0].snippet.liveBroadcastContent=='live'" class="broadcastState"
			  title="Live Übertragung.">Live
		</span>
		<span ng-if="data.video[0].snippet.liveBroadcastContent!='live'" class="broadcastState"
			  title="Video ist aufgezeichnet.">Offline
		</span>
		<span>{{data.video[0].snippet.title}}</span>
	</h5>

	<div class="live-container">
		<div class="left video-view">
			<div class="video grow" id="videoPlayer">
				<div class="embed-responsive embed-responsive-16by9">
					<ng-youtube-embed
							url="video.url" autoplay="{{video.autoplay}}">
					</ng-youtube-embed>
				</div>
			</div>

			<div class="video-chat-controls">
				<a href="#" id="playLive" ng-click="changeVideo(streamVideoId)" class="playLiveButton float-left">
					Play Live-Stream
				</a>
				<a href="#" id="chad" ng-click="toggleChat()" class="toggleChatButton float-right">
					<span class="description">Toggle Chad</span>
					<span class="icon"><img zf-iconic="" icon="Comment-square" size="middle" class=""></span>
				</a>
			</div>

		</div>

		<div class="right chat-view" id="chatView">
			<iframe allowfullscreen="" frameborder="0"
					ng-src="{{trustSrc(chat.url)}}" width="100%" height="100%"
			></iframe>
		</div>
	</div>

	<div class="content grid-block">
		<div class="grid-block">
			<label class="vlist-controls">
				<span class="inline-label">
					<span class="form-label">Filter</span>
					<input type="text" ng-model="searchText" placeholder="Search">
					<span class="form-label">Latest Videos</span>
					<a href="#" class="button" ng-click="getData('vList')" title="Reloads List every 5min automatically."
					   >
						<img zf-iconic="" icon="Reload" size="small" class="">
					</a>
				</span>
			</label>
		</div>

		<div class="grid-block videolist-container">
			<div class="grid-block videolist">
				<div vlistitem  ng-repeat="(key, item) in data.vList | filter:{snippet:{title:searchText}}"></div>
			</div>
		</div>
	</div>

	<a class="button" href="#" title="My notification" content="Notification example" color="success"
	   autoclose="3000" zf-notify="refresh-notifications">Dynamic Notification</a>
	<zf-notification-set id="refresh-notifications" position="top-left"></zf-notification-set>


	<div class="screenWidthCheck-640"></div>
</div>

<div class="footer">
	<a zf-open="showDisclaimerModal" class="">About</a>
</div>

<!-- Show Disclaimer Modal -->
<div zf-modal="" id="showDisclaimerModal">
	<a zf-close="" class="close-button">×</a>
	<h3>About</h3>
	<p>This site is fan-made and not affiliated with Rocket BEANS Entertainment GmbH in any way. RocketView is fully open source under GNU General Public License v2.0.</p>

	<zf-accordion class="">
		<zf-accordion-item title="Image Attributions">
			<ul>
				<li>
					<div>"play" icon made by <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
				</li>
			</ul>
		</zf-accordion-item>
	</zf-accordion>
</div>