<ul class="primary condense menu-bar">
	<li class="pageTitle ">
		<a href="./">
			<img src="assets/img/rocketview-logo.png">
			<strong>RocketView</strong>
		</a>
	</li>
	<li class="desktop-hide">
		<a zf-open="mobilePanel" class="button openMobile">
			<div></div>
			<div></div>
			<div></div>
		</a>
	</li>
	<li class="desktop-show">
		<a href="https://www.rocketbeans.tv/" target="_blank">
			RBTV
		</a>
	</li>
	<li class="desktop-show">
		<a href="https://www.youtube.com/user/ROCKETBEANSTV" target="_blank">
			Youtube
		</a>
	</li>
	<li class="desktop-show">
		<a href="https://www.reddit.com/r/rocketbeans" target="_blank">
			Reddit
		</a>
	</li>
	<li class="desktop-show">
		<a href="https://twitter.com/therocketbeans" target="_blank">
			Twitter
		</a>
	</li>
	<li class="desktop-show">
		<a href="https://forum.rocketbeans.tv/" target="_blank">
			Forum
		</a>
	</li>
	<li class="clock">
		<a ng-cloak title="Clock">{{clock.now}}</a>
	</li>

	<li class="optionsTitle" >
		<a zf-open="optionsModal" class="button openModal"></a>
		<img zf-iconic="" icon="cog" size="medium" >
	</li>

	<li class="scheduleTitle">
		<a href="#" zf-toggle="schedulePanel" class="button schedule"></a>
	</li>
	<li class="disclaimerTitle">
		<a zf-open="showDisclaimerModal" class="disclaimer">Info</a>
	</li>
</ul>